<h1>Add New Media</h1>
<form method="post">
    <fieldset>
        <label for="type">Type: *</label>
        <select name="type" id="type">
            <option>Book</option>
            <option>Game</option>
            <option>Movie</option>
            <option>Music</option>
            <option>TV</option>
        </select>
    </fieldset>
    <fieldset>
        <label for="title">Title: *</label>
        <input name="title" id="title" required />
    </fieldset>
    <fieldset>
        <label for="releaseYear">Release Year: </label>
        <input type="number" name="releaseYear" id="releaseYear" min="1500" />
    </fieldset>
    <fieldset>
        <label for="provider">Provider: *</label>
        <input name="provider" id="provider" required />
    </fieldset>
    <fieldset>
        <label for="status">Status: *</label>
        <select name="status" id="status">
            <option>Completed</option>
            <option>In Progress</option>
            <option selected>On My List</option>
        </select>
    </fieldset>
    <fieldset>
        <label for="rating">5-Star Rating: *</label>
        <input type="number" name="rating" id="rating" min="1" max="5">
    </fieldset>
    <fieldset>
        <label for="username">Username: *</label>
        <input name="username" id="username" required />
    </fieldset>
    <button class="btn btn-primary offset-2">Save</button>
</form>